body{
  background-color: rgb(241, 50, 50);
  margin-left: 10%;
  margin-right: 10%;
}

body{text-align: center;}
.n-text{color:darkblue;}
.s-text{color: silver;}
p{font-size: 20px;} p{font-family: Arial, Helvetica, sans-serif;}
.box{
  padding: 80px 50px 80px 50px
  margin:85px 55px 85px 55px
  border:soild:90px 70px 90px 70px
}
.colom-par{margin: 80px 80px 80px 80px
}

img {max-width: 100%;height: auto;}
.padd-p{padding: 0px 100px 0px 100px}
h1{font-size:50;}
.intro{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
.text-large{font-size:70px;}
.bl{color: indigo;}
.mar{margin: 0px 100px 0px 100px}
.mar-col {margin color:blue;}
.tex-cen{text-align: center;}
@media (min-width:320px;){

}

@media (max-width:768px;){
  
}